@page "/"
@using BlazorTemplate.Components;
@using Microsoft.AspNetCore.Authorization;
@inherits AppComponentBase
@attribute [Authorize(Roles ="admin")]

<PageTitle>@Localizer[nameof(General.HomePageTitle)]</PageTitle>

<h1>سلام</h1>


