@page "/"
@using BlazorTemplate.Components;
@using BlazorTemplate.CustomComponents
@using Microsoft.AspNetCore.Authorization;
@inherits AppComponentBase
@attribute [Authorize(Roles = "admin")]

<PageTitle>@Localizer[nameof(General.HomePageTitle)]</PageTitle>

<h1>سلام</h1>

<div class="row">
    <div class="col">
        <FloatLabelInput @bind-TextValue=Firstname InputType="text" Label="نام" Class="my-2" InputClass="px-1 pt-2" />
    </div>
    <div class="col">
        <FloatLabelInput InputType="text" Label="نام خانوادگی" Class="my-2" InputClass="px-1 pt-2" />
    </div>
    <div class="col">
        <FloatLabelInput InputType="password" Label="رمز عبور" Class="my-2" InputClass="px-1 pt-2" />
    </div>
</div>
<div class="row">
    <div class="col">
        <FloatLabelInput InputType="number" Label="کد ملی" Class="my-2" InputClass="px-1 pt-2" />
    </div>
</div>

@if (_firstrender)
{
    <StickyMessageBar Message="لاگ این با موفقیت انجام شد" Class="bg-success" />
}

@code {
    public string Firstname { get; set; } = "parsa";

    bool _firstrender;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _firstrender = firstRender;
            StateHasChanged();
            await base.OnAfterRenderAsync(firstRender);
        }
    }
}