<div class="d-flex flex-column align-items-center">
    <div style="color:@Color" class="spinner-border" aria-hidden="true"></div>
    @if (ShowText)
    {
        <label style="@TextStyle" role="status" class="mt-1">@Text</label>
    }
</div>

@code {
    [Parameter]
    public string Color { get; set; } = "black";
    [Parameter]
    public string Text { get; set; } = "Loading...";
    [Parameter]
    public string TextStyle { get; set; } = "Loading...";
    [Parameter]
    public bool ShowText { get; set; } = true;
}
