
<div class="loading-container">
    <BitSpinner LabelPosition="BitLabelPosition.Bottom" Label="@Text" Size="BitSpinnerSize.Large"></BitSpinner>
</div>

@code {
    [Parameter]
    public string Text { get; set; } = default!;
}
