@using BlazorTemplate.Components;
@inherits AppComponentBase

<PageTitle>@Localizer[nameof(General.NotAuthorizeTitle)]</PageTitle>

<AuthorizeView>
    <h2>@Localizer[nameof(General.NotAuthorizeMessage)]</h2>
</AuthorizeView>
