@using BlazorTemplate.Components;
@inherits AppComponentBase

<PageTitle>@Localizer[nameof(General.PageNotFoundTitle)]</PageTitle>
<div class="content-center">
    <div class="m-auto text-center pb-5">
        <h1 class="title text-dark">@Localizer[nameof(General.Error404)]</h1>
        <div class="description text-dark">@Localizer[nameof(General.PageNotFoundMessage)]</div>
        <a href="/">@Localizer[nameof(General.HomeBtn)]</a>
    </div>
</div>