.notification {
    color: white;
    padding: 15px;
    position: fixed;
    bottom: -100px;
    left: 20px;
    right: 20px;
    transition: bottom 0.3s ease-in-out;
    z-index: 1000;
}

    .notification.show {
        bottom: 20px;
    }
